/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/

.nunito{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
  }
  

body{background-color: #b2bec3;}

h1{color: #d63031;
    padding-bottom: 30px;
    margin: 0;
    font-size: 36px;}

p{margin-top: 0; margin-bottom: 0; 
    padding-bottom: 30px; 
    font-size: 18px;}

a{display: block; 
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;}

.twitter{background-color: #1da1f2;
        color: white;
        text-decoration: none;
        text-align: center;
        padding: 10px 0;
        margin-bottom: 5px;}

.twitter:hover{background-color: #0b7bc1;}


.facebook{background-color: #3b5998 ;
        color: white;
        text-decoration: none;
        text-align: center;
        padding: 10px 0;}

.facebook:hover{background-color:#0b7bc1 ;}

.rodic{position: relative;
        top: 150px;
        margin: 0 auto;
        box-sizing:content-box; width: 550px;
        text-align: justify;
        background-color: white;
        padding: 30px 30px;
        border-radius: 10px;

   }



.foto{border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 3px solid white;
    position: absolute; left: 550px;}